@page "/AddInfo"
<PageTitle>Add your Info</PageTitle>

<h3>AddInfo</h3>

<div class="row">
    <div class="col-6">
        <PersonInfo/>
    </div>
    <div class="col-6">
        <AddressInfo />
    </div>
</div>
